// modal
.graph-modal__close {
  right: 30px;
  top: 15px;
}
.modal-order {
  max-width: 860px;
  // background-color: rgba(#E3EEFF, .4);
  background-color: #FBFCFF;
  padding: 25px 80px;
  border-radius: 15px;  
  &__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #000;
    margin-bottom: 23.5px;
    text-align: center;
  }
  &__descr {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    max-width: 252px;
    margin: 0 auto 29px;
    color: $main-color;
  } 
  .agreements {
    font-size: 9px;
    line-height: 10px; 
    
    max-width: 180px;
    margin: 15px auto 0;
    a {
      color: $blue-color;
      text-decoration: underline;
    }  
  }
  @media (max-width: 575px){
    padding: 30px 30px;
  }
}
.modal-order__form {
  .order-form__wrapper {
    @media (max-width: 991px){
      flex-direction: column;      
      align-items: center;
    }
  }
  .input-wrapper {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    &::after {
      content: '';
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;     
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    input {
      background: $white-color;
      border: 1px solid $blue-color;
      border-radius: 5px;
      font-family: "Roboto";    
      font-size: 15px;
      line-height: 18px;
      color: $main-color;
      height: 50px;
      padding: 0 25px;
      width: 325px;
      margin-bottom: 10px; 
      &::placeholder {       
        font-family: "Roboto";    
        font-size: 15px;
        line-height: 18px;
        color: $gray-color;
        opacity: 1; 
      }
      @media (max-width: 991px){
        width: 100%;
      }
    }
    @media (max-width: 991px){
      width: 350px;      
    }
    @media (max-width: 575px){
      width: 100%;
    }
  }
}
